<!DOCTYPE html>
<html>
<head>
  <title><%= t('.head_title') %></title>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag if RailsEmailPreview.rails_supports_csp_nonce? %>
  <%= favicon_link_tag 'rails_email_preview/favicon.png' %>
  <style>
    <%= raw render(file: "#{RailsEmailPreview::Engine.root}/app/assets/stylesheets/application.css") %>
  </style>
  <%= yield(:head) %>
</head>
<body>
<div class="rep-standalone-container">
  <%= render 'layouts/rails_email_preview/flash_notices' %>
  <%= yield %>
</div>
</body>
</html>
